﻿@charset "utf-8";

* {
	margin:0;
	padding: 0;
	outline: none;
}

html {height: 100%
     
	   }

body {
	width: 100%;
	height: 100%;
	color: #375;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 1em;
	line-height: 135%;
	float: right;
}
img {
     max-width: 100%;
	 height: auto;
	 width: auto\9;
}
/*Оформление карусели*/

#slider { /*положение слайдера*/
    position: static;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('/img/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('/img/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}



a{
	color: #000080 ;
	text-decoration: none;
}
a:hover {

	color:  #0000FF;
}
a, a:hover {
	transition: all.6s ease;
	
}
.clear {
	clear: both;
}
@media (max-width: 1700px) {
@media (max-width: 1700px) {
header {
	width: 98%;
	font-size: 1.4em;
	float: left;
	 font-family: "Сomic Sans MSИсточник: <a href="https://starper55plys.ru/css/shriftyi/">https://starper55plys.ru/css/shriftyi/</a>";
	padding: 1%;
	background: url(img/q.jpg) no-repeat;
	border-bottom: 2px solid #2E8B57;
	margin-bottom: 20px;
	background-color: #2E8B57; 
    opacity: 0.6;
	position: fixed;
	
}}
@media (max-width: 640px) {
	header {
	width: 98%;
	font-size: 0.9em;
	float: left;
	 font-family: "Сomic Sans MSИсточник: <a href="https://starper55plys.ru/css/shriftyi/">https://starper55plys.ru/css/shriftyi/</a>";
	padding: 1%;
	background: url(img/q.jpg) no-repeat;
	border-bottom: 2px solid #2E8B57;
	margin-bottom: 20px;
	background-color: #2E8B57; 
    opacity: 0.6;
	position: fixed;
	
}}

header #center {
	width: 80%;
	margin-left: 10%;
	margin-right: 15%;
	background-color: red;
	
}
header #glavnay {
	width: 23%;
	float: left;
	
}
header #glavnay a {
	color: white;
	font-size: 1em;
	text-decoration: none;
	
}

@media (max-width: 1700px) {
header #infa {
	width: 26%;
	float: left;
	color: white;
	float: left;
	margin-right: 3%;
}}

@media (max-width: 640px) {
header #infa {
	width: 26%;
	float: left;
	color: white;
	float: left;
	margin-right: 3%;
	margin-left: -8%;
}}


header #infa a {
	color: white;
	font-size: 1em;
	text-decoration: none;
}
@media (max-width: 1700px) {
header #vid {
	width: 27%;
	float: left;
	color: DarkBlue;
}}

@media (max-width: 640px) {
header #vid {
	width: 27%;
	float: left;
	color: DarkBlue;
	margin-left: 3%;
}}

header #vid a{
	color: white;
	font-size: 1em;
	text-decoration: none;
}
header #dostoprimechatelnosti {
	width: 20%;
	float: right;
	color: DarkBlue;
	
}

@media (max-width: 1700px) {
header #dostoprimechatelnosti a{
	color: white;
	font-size: 1em;
	text-decoration: none;
	
}}

@media (max-width: 640px) {
header #dostoprimechatelnosti a{
	color: white;
	font-size: 1em;
	text-decoration: none;
	margin-left: -37%;
}}


@media (max-width: 1700px) {
header #dostoprimechatelnosti a{
	color: white;
	font-size: 1em;
	text-decoration: none;
	
}}

@media (max-width: 640px) {
header #dostoprimechatelnosti a{
	color: white;
	font-size: 1em;
	text-decoration: none;
	margin-left: -37%;
}}

/*Стили для футера */

 @media (max-width: 1700px) {
footer {
	width: 98%;
	float: left;
	padding: 1%;
	border-top: 2px solid silver;
	margin-bottom: -20px;
	
 }}

 @media (max-width: 640px) {
footer {
	width: 98%;
	height: 10%;
	float: left;
	padding: 1%;
	border-top: 2px solid silver;
	margin-bottom: -10px;
	margin-top: 150px;
   
	
}}


footer #social {
	width: 50%;
	float: left;
}
footer #social img {
	width: 10%;
	float: left;
	height: 10%;
}
footer #rights {
	width: 50%;
	float: left;
	text-align: right;
	font-size: 1.1em;
	
}
/*  Стили для всего документа*/


 @media (max-width: 1700px) {
#wrapper {
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
	float: left;
	
 }}
 
 @media (max-width: 640px) {
 #wrapper {
	width: 80%;
	margin-left: 10%;
	float: left;
	margin-top: 25%;
 }}
 
/*  Стили для левой колонки*/

 @media (max-width: 1700px) {
#wrapper #leftCol {
	width: 67%;
	float: left;
	margin-right: 10%;
} }

 @media (max-width: 640px) {
#wrapper #leftCol {
	width: 90%;
	float: left;
	margin-right: 5%;
	
}} 


 @media (max-width: 1700px) {
#wrapper #rightCol {
	width: 23%;
	float: left;

}}

 @media (max-width: 640px) {
#wrapper #rightCol {
	width: 0;
	height:30o%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	

}} 


@media (max-width: 1700px) {
#wrapper #rightCol #banner {
	width: 80%;
	float: left;
	margin-bottom: 20px;
	border: 2px solid silver;
	box-sizing: border-box;
} }

 @media (max-width: 640px) {
#wrapper #rightCol #banner #banner_1 {
	width: 10px;
	float: left;
	margin-bottom: 20px;
	
 }}
 
#wrapper #leftCol .gerb {
	width: 30%;
	float:left; /* Выравнивание по левому краю */
    margin: 10px 10px 0px 10px;
	
	
}
/* Список */
@media (max-width: 1700px) {
#wrapper #leftCol #list  {
list-style: none;
padding: 20px;
width: 30%;
color: #000080;
 font-weight: 700;
}}

@media (max-width: 640px) {
#wrapper #leftCol #list  {
list-style: none;
padding: 40px;
width: 50%;
color: #000080;
 font-weight: 700;
 text-align: center:
}}

@media (max-width: 1700px) {
#wrapper #leftCol #list li {
padding: 10px 30px;
opacity: 0.7;
border-bottom: 1px solid grey;
font-size: 20px;
box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
margin-bottom: 5px;
}}

@media (max-width: 640px) {
#wrapper #leftCol #list li {
padding: 10px 30px;
opacity: 0.7;
border-bottom: 1px solid grey;
font-size: 15px;
box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
margin-bottom: 0px;
}}
#wrapper #leftCol #list li:last-child {border-bottom: none;}

.photos{
	overflow: hidden;
}
.photos > div{
	float: center;
	width: 80%;
	margin: 10px;
}
.wrapper{
	width: 900px;
	margin: 0 auto;
}
#wrapper #leftCol .text{
	overflow: hidden;
	width: 90%;
	font-size: 10px;
	color: black;	
}
#wrapper #leftCol .text1 {
	 /* background-color: rgba(184, 120, 9, 0.5); Цветфонаизначениепрозрачности */
     /* padding: 10px; /* Поля вокруг текста */
     /* color: #000000;*/  /* Цвет текста */ 
}
#wrapper #leftCol .fon{
	position: relative; 
}
