body {
  font-family: Arial, Verdana,  sans-serif;
  font-size: 19pt;
  background-color: #BC8F8F; 
  color: #333; 
}
h1 {
  text-align: left;
  margin-left: 380px;
  color: #4B0082; 
  font-size: 24pt; 
  font-family: Georgia, Times, serif; 
  font-weight: normal; 
}
a{
  text-decoration: none;
}
p {
  text-align: justify; 
  margin-left: 60px; 
  margin-right: 10px; 
  padding-left: 10px; 
  font-family: Georgia, Times, serif;
}