body {
  font-family: Arial, Verdana,  sans-serif; 
  font-size: 14pt;
  background-color: #DBAC79; 
  color: #333;
}
h1 {
  color: #E3664D; 
  font-size: 24pt;
  font-family: Georgia, Times, serif; 
  font-weight: normal; 
  text-align: left; 
  margin-left: 360px;
}
a{
	text-decoration: none;
}
p {
  font-family: Georgia, Times, serif;
  text-align: left; 
  margin-left: 60px; 
  margin-right: 10px; 
  padding-left: 10px; 
  padding-bottom: 10px; 
}