.all{
	border:solid 3px black;
	width: 600px;
	height: 175px;
    }
   .b1 { 
    width: 53%;
	height: 97.7%;
    background: #0440B8;
    padding: 2px;
    padding-right: 0px; 
    text-align: right;
    float: left;
   } 
   .G{
	   color: #237716;
	   font-size: 60pt;
	   padding: 25px 0 0 0;
   }
   .b2 { 
    width: 45.9%; 
	height: 95.7%;
    background: #237716; 
    padding: 2px; 
	padding-left: 0px; 
    border: solid #237716; 
    float: left; 
	text-align:left;
    position: relative; 
    left: 0px; 
	margin: -175px 0 20px 319.7px;
	
   }
   .B{
	   color: #0440B8;
	   font-size: 60pt;
	   padding: 50px 0 0 0;
   }